//paleta de colores
$colorPrincipal: rosybrown;
$colorSecundario: rgba(169, 140, 101, 0.603);
$colorTerciario: rgb(47, 170, 129);

.background {
    background-image: linear-gradient(to right bottom, rgba(255,255,255,0.9), rgba(255,255,255,0.8)), url(../images/background.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    
    nav {
        background-color: $colorPrincipal;

        div {
            text-align: center;
            font-size: 14px;

            .navbar-brand {
                font-size: 26px;
            }

            .navbar-toggler:focus {
                box-shadow: none;                
            }

            div {

                ul {

                    li {
                        text-align: left;

                        &:hover { 
                            font-size: 16px;
                            transition: all 0.5s;
                            cursor: pointer;
                        }

                        .nav-link {
                            padding-left: 10px !important
                        }
                    }

                    @media (max-width: 767px) {
                        @for $i from 1 through 5 {
                            .degradado#{$i} {
                                background-color: lighten($colorPrincipal, $i * 3%) !important;
                            }
                        }
                    } 
                }
            }

        }
        } 
}


main {
    margin-bottom: 20px;
    margin-top: 20px;

        h1 {
            color:$colorPrincipal;
            margin-left: 15px;
            border-bottom: solid 2px;
            border-bottom-color: $colorTerciario;
            padding-bottom: 10px;
        }

        section {
            margin-top: 25px;
            margin-bottom: 15px;
            margin-right: 15px;
            margin-left: 15px;
                article {
                    .banner{
                        height: 400px;
                        background-image: url(../images/banner.jpg);
                        background-size: cover;
                        background-position: top;
                        margin-bottom: 30px;
                    }

                    @media (max-width: 576px) {
                        .banner {
                            height: 200px;
                        }
                    }

                    @media (max-width: 767px) {
                        .banner {
                            height: 300px;
                        }
                    }

                    h2{
                        text-decoration: underline;
                    }

                    .bienvenidos {
                        text-align: center;
                        text-decoration: none;
                        padding-top: 10px;
                        color: $colorTerciario;
                        animation-duration: 1.5s;
                        animation-name: aparecer;
                        animation-delay: 4s;
                        animation-direction: alternate;
                        animation-iteration-count: infinite;
                        text-shadow: 2px 2px $colorSecundario;
                    }

                    @keyframes aparecer {
                        from {
                            opacity: 0;
                        }
                        to {
                            opacity: 1;
                        }
                    }

                    @media (max-width: 576px) {
                        h2 {
                            font-size: 20px;
                        }
                    }

                    .pHome {
                        width: 100%;
                        text-align: justify;
                        font-size: 15px;
                        line-height: 20px;
                        margin-bottom: 30px;
                    }

                    .parrafo {
                        text-align: justify;
                        padding-left: 0;
                        font-size: 15px;
                        line-height: 20px;
                    }

                    div {

                        div {
                            justify-content: center;
                            
                            .item {
                                height: 300px;
                                border: solid 3px $colorTerciario;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                            }

                            @for $i from 1 through 6 {
                                .item#{$i} {
                                    background-image: url(../images/galeria#{$i}.jpg) !important;
                                }
                            }
                        }
                    }
                }
        }
            
        form {
            margin-left: 15px;
            margin-right: 15px;
            font-size: 14px;
            margin-top: 15px;
            text-align: center;
            border: solid 2px $colorSecundario;
            border-radius: 10px;
            background-color: rgba(169, 140, 101, 0.442);

                div{
                    label{
                        font-size: 14px;
                    }

                    input{
                        width: 40%;   
                        font-size: 14px;
                        text-align: left;
                    }

                    @media (max-width: 576px) {

                        label {
                            font-size: 12px !important;  
                        }

                        input {
                            width: 60%;   
                            font-size: 12px !important;
                            text-align: center;
                        }
                    }
                }

                .btn {
                    background-color: $colorPrincipal;
                    color: white;
                    font-size: 14px;
                    padding: 8px 20px;

                    &:hover {
                        color: white;
                        font-size: 15px;
                        transition: all 0.5s;
                        cursor: pointer;
                    }
                }

                @media (max-width: 576px) {
                    .btn {
                        font-size: 12px !important;
                    
                        &:hover {                       
                            font-size: 13px !important;
                            transition: all 0.5s;
                        }
                    }
                }
        }
}
    

footer {
    text-align: center;
    font-size: 14px;
    background-color: rgba(169, 140, 101, 0.603);
    padding: 10px;

    p {
        margin: 0;
    }

    div {
        a {
            text-decoration: none;
            color: black;
            
            &:hover {
                color: $colorPrincipal;
            }
        }
    }
}